@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@600&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: 'Open Sans';
    overflow-x: hidden;
    color: #FFFFFF;
    font-size: 16px;
    height: 100vh;
}
section {
    padding: 2rem 7%;
}
.container{
    width: 100%;
    margin:  0 auto;
}

.hero{
    width: 100%;
    background: #702DFF;
    position: fixed;
    z-index: 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 14px; 
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

nav ul li a{
    margin: 0 1rem;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 142%;
    color: #FFFFFF;
}

nav .log{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #FEFEFE;
    cursor: pointer;
}

nav .hot{
    border-radius: 12px;
    width: 31px;
    height: 14px;
    background: #DA310C;
    margin-left: -12px;
    font-weight: 500;
    font-size: 10px;
    line-height: 142%;
}

main .top{
    background: #702DFF;
    text-align: center;
    min-height: 100vh;
    padding-top: 102px;
}

main .container .top .first{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
}

.first img{
    width: 19.3px;
    height: 21.99px;
}

main .container .top .first h2{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 142.5%;
}
main .container .top .second h2{
    font-style: normal;
    font-weight: 800;
    font-size: 53px;
    line-height: 70px;
    text-align: center;
}

main .container .top .second span{
    color: #F4C01E;
}

main .container .top .third{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #E3DAF9;
    margin-bottom: 32px;
    margin-top: 14px;
}

main .container .top .btn{
    display: inline-block;
    background: #FFFFFF;
    color: #702DFF;
    padding:12px 33px ;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
    width: 179px;
    height: 62px;
}

main .container .top .btn .btn-content{
    width: 114px;
    height: 38px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 188%;
}

main .container .top .btn .btn-content img{
    width:15px;
    height:20px;
    margin-right: 10px;
}


main .top .vector1{
    position: absolute;
    opacity: 0.56;
    width:1202.01px;
    height:901.94px;
    top: 180px;
    left: 318px;

}

main .top .vector2{
    position: absolute;
    width: 63.62px;
    height: 37.41px;
    left: 1216px;
    top: 423px;
    transform: rotate(4.5deg);
}

main .top .vector3{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 295px;
    top: 510px;
}

main .top .vector4{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1070px;
    top: 885px;
}

main .top .vector7{
    position: absolute;
    width: 25px;
    height: 25px;
    left: -84px;
    top: 773px;
}

main .top .vector8{
    position: absolute;
    width: 49px;
    height: 7.46px;
    left: 264px;
    top: 789px;
}

main .top .vector9{
    position: absolute;
    width: 49px;
    height: 7.46px;
    left: 1055px;
    top: 630px;
}

main .container .center{
    position: relative;
    top: 50px;
    z-index: 10;
    border-radius: 6px;
}

main .container .center img{
    width: 702px;
    height: 491px;
    box-shadow: 0 8px 25px -6px black;
}


.bottom{
    background: #EFEFEF;
    color: #000000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bottom .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 29px;
    margin-top: 81px;
}

.bottom .cards .card{
    width: 381px;
    height: 542px;
    background: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 14px;
}

.bottom .cards .card-section .img{
    width:40px;
    height: 40px;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    /* margin-top: 32px; */
    margin-left: 42px;
}



.bottom .cards .card h2{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 142%;
    margin-bottom: 10px;
}

.bottom .cards .card h3{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    color: #6F6F6F;
    margin-bottom: 10px;
}


.bottom .cards .card-section{
    border-bottom: 2px dashed #D3D3D3;
    margin-bottom: 10px;
}

.bottom .cards .card-section:nth-child(3){
    border-bottom: none;
}


.bottom .cards .card-section .card-text{
    margin-left: 36px;
}

.bottom .cards .card-2{
    background: none;
    border: 2px dashed #D3D3D3;;
}
.bottom .cards .card-2 h2{
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 142%;
    margin-bottom: 26px;
}

.bottom .cards .card-2 h3{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    text-align: center;
    color: #6F6F6F;
}

.bottom .cards .card-2 .card-section{
    border-bottom: none;
}

.bottom .cards .vector5{
    position: absolute;
    /* position: relative; */
    left: 37.6%;
    right: 59.55%;
    top: 160px;
    bottom: 40.8%;

    background: #F4C01E;
    transform: rotate(-76.13deg);
}

.bottom .cards .vector6{
    left: 45%;
    right: 59.55%;
    top: 137px;
    bottom: 40.8%;

    background: #F4C01E;
    transform: rotate(-76.13deg);
}


.footer{
    color: #000000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer .btn-section{
    display: flex;
    background: #0C0B11;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 64px;
    border-radius: 47px;
    padding: 10px;
    margin: 21px 0;
    cursor: pointer;
}

.footer .btn-section .btn-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 142.5%;
    color: #FFFFFF;
    margin-right: 10px;
}

.footer .btn-section img{
    height: 40px;
    width: 40px;
}

.footer h3{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 188%;
    text-align: center;
    color: #828282;
}

.footer h4{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.5%;
    color: #000000;
    margin: 30px 0;
}

.footer .domains{
    display: flex;
    flex-direction: column;
}

.footer .domain-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}

.footer .domain-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer .privacy{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.5%;
    color: #828282;
    margin-top: 61px;
    margin-bottom: 40px;
}

.layer{
    position: relative;
    width: 535.65px;
    height: 393.22px;
    left: -390px;
    top: -25px;
}